/* line 1, style.less */
body,
div,
p {
  margin: 0;
  padding: 0;
}
/* line 6, style.less */
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
}
/* line 15, style.less */
.header p {
  display: inline-block;
  padding-left: 40px;
  font-size: 24px;
  line-height: 30px;
  padding-top: 30px;
}
/* line 23, style.less */
.word {
  position: absolute;
  top: 30px;
  display: inline-block;
  width: 400px;
  height: 30px;
  overflow: hidden;
}
/* line 32, style.less */
ul {
  list-style: none;
  position: absolute;
}
/* line 37, style.less */
ul li {
  font-size: 24px;
}
/* line 41, style.less */
.content .box {
  width: 100%;
  height: 100vh;
}
/* line 63, style.less */
.colour-1 {
  background-color: #88b6f7;
}
/* line 63, style.less */
.colour-2 {
  background-color: #9a9bff;
}
/* line 63, style.less */
.colour-3 {
  background-color: #bbfb94;
}
/* line 63, style.less */
.colour-4 {
  background-color: #ed74c4;
}
/* line 63, style.less */
.colour-5 {
  background-color: #eb984e;
}
/* line 63, style.less */
.colour-6 {
  background-color: #a9eaf1;
}
/* Center the contents of the bubble chart */
/* line 71, style.less */
.bubble-chart-container {
  flex: 1;
  position: relative;
  display: flex;
  user-select: none;
  justify-content: center;
}
/* line 78, style.less */
.bubble-chart-container .bubble-chart-text {
  /* Center text in the circle, and hide any overflow */
}
/* line 80, style.less */
.bubble-chart-container .bubble-chart-text .bubble-label {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  will-change: left, top, height, width;
  /* Show the overflow when hovering over a label */
  /* Optional, but recommended - reduce the size of text on medium bubbles */
  /* Optional, but recommended - hide the text on small bubbles */
}
/* line 90, style.less */
.bubble-chart-container .bubble-chart-text .bubble-label:hover {
  overflow: visible;
  font-weight: bold;
}
/* line 95, style.less */
.bubble-chart-container .bubble-chart-text .bubble-label.medium {
  font-size: 0.8em;
}
/* line 99, style.less */
.bubble-chart-container .bubble-chart-text .bubble-label.small {
  font-size: 0;
  /* Make sure to unhide the text when hovering */
}
/* line 102, style.less */
.bubble-chart-container .bubble-chart-text .bubble-label.small:hover {
  font-size: 0.8em;
}
